<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h1>Proyecto Web Api para prueba de RedArbor</h1>
    <p>La solución consta de 2 proyectos, uno para la interfaz de la propia API y el otro con capas de acceso a datos y entidades, aparte de un proyecto de test sólo planteado.</p>
    <p>En <i>DataBase</i> figura script de creación de la única tabla necesaria en base de datos</p>
    <p>Algunos puntos que no he incluido en esta prueba</p>
    <ul>
        <li>Capa de autenticación / seguridad</li>
        <li>Modelos orientados a publicación en API y mapeo con las entidades, usando la propia entidad como modelo</li>
        <li>Validaciones de negocio sobre los datos previas a envió a capa de persistencia</li>
        <li>Proyecto de Tests unitarios, sólo planteado en proyecto</li>
        <li>Creación de una capa genérica más completa de acceso a datos</li>
    </ul>
</body>
</html>
